<p>
  Hallo <%= @appointment.client.firstname %>,<br>
  <br>
  hier sind die Informationen zu Deinem Termin.
</p>
<h4>Informationen:</h4>
<p>
  <%= I18n.l @appointment.start, format: "%A, %e. %B, %Y" %>
  <br>
  <%= I18n.l @appointment.start, format: "%H:%M" %> bis
  <%= I18n.l @appointment.end, format: "%H:%M" %>
</p>
<p>
  <%= link_to "Zum Kalender hinzufügen", client_path(@appointment.client, format: :ics, protocol: 'webcal', only_path: false, auth_token: @appointment.client.authentication_token) %>
  <!-- <br> -->
  <!-- <a href="#">Verschieben</a> -->
</p>
