<div class="page-header">
  <%= link_to 'New Appointment', new_appointment_path, class: "btn btn-primary pull-right" %>
  <h1>Appointments</h1>
</div>


<% @appointments_months.each do |month, appointments| %>
  <h4><%= month.strftime("%A, %B %e, %Y") %></h4>

  <div class="list-group">
    <% for appointment in appointments do %>
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <b><%= link_to appointment.client.fullname, appointment.client %></b>
          </div>
          <div class="col-sm-3">
            <%= appointment.start.strftime("%H:%M") %> to <%= appointment.end.strftime("%H:%M") %>
          </div>
          <div class="col-sm-6 text-right">
            <%= link_to 'Show', appointment %>&nbsp;
            <%= link_to 'Edit', edit_appointment_path(appointment) %>&nbsp;
            <%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
<% end %>
